@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900);
@import url(https://maxcdn.bootstrapcdcssn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/*

Paleta colores propuesta (morados/azules)
    #7F00B2
    #8E22BB
    #AB49CC
    #1E91ED
    #4CA1F5

*/

a{
	list-style: none;
	text-decoration: none;
}

a:visited, a:link, a:focus, a:over, a:active, a:hover{
	list-style: none;
	text-decoration: none;
}

.container_login{
	color: #666666;
	height: 80vh;
	font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
}

.container_login.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container_login.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container_login.active .card.alt {
  top: 20px;
  right: 0;
  width: 50%;
  min-width: 50%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container_login.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  transform: scale(10);
  transition: transform 0.3s ease;
}
.container_login.active .card.alt .toggle:before {
  content: "";
}

.container_login.active .card.alt .title,
.container_login.active .card.alt .input-container,
.container_login.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
}
.container_login.active .card.alt .title {
  transition-delay: 0.3s;
}
.container_login.active .card.alt .input-container {
  transition-delay: 0.4s;
}
.container_login.active .card.alt .input-container:nth-child(2) {
  transition-delay: 0.5s;
}
.container_login.active .card.alt .input-container:nth-child(3) {
  transition-delay: 0.6s;
}
.container_login.active .card.alt .button-container {
  transition-delay: 0.7s;
}

.tittle_login{
	padding: 50px 0;
	text-align: center;
	letter-spacing: 2px;
}

.tittle_login h1 {
	margin: 0 0 20px;
	font-size: 48px;
	font-weight: 300;
}

.container_login_card{
  	position: relative;
  	max-width: 460px;
 	width: 50%;
  	margin: 0 auto 100px;
}

/* CSS CARD */

.card {
	position: relative;
  	background: #ffffff;
  	border-radius: 5px;
  	padding: 60px 0 40px 0;
  	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: 0.3s ease;
}

.card:first-child {
  	background: #fafafa;
  	height: 10px;
  	border-radius: 5px 5px 0 0;
  	margin: 0 10px;
  	padding: 0;
}

.card .title {
  	position: relative;
  	z-index: 1;
  	border-left: 5px solid #7F00B2;
  	margin: 0 0 35px;
  	padding: 10px 0 10px 50px;
  	color: #7F00B2;
  	font-size: 32px;
  	font-weight: 600;
  	text-transform: uppercase;
}

/* CSS INPUTS */

.card .form-group {
  	position: relative;
  	margin: 0 60px 50px;
}

.card .form-group input {
  	outline: none;
  	z-index: 1;
  	position: relative;
  	background: none;
  	width: 50%;
  	height: 60px;
  	border: 0;
  	color: #212121;
  	font-size: 24px;
  	font-weight: 400;
}

.card .form-group input:focus, .card .submit-button button:focus {
	outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.card .form-group input:focus ~ label {
  	color: #9d9d9d;
	-webkit-transform: translate(-12%, -50%) scale(0.75);
			transform: translate(-12%, -50%) scale(0.75);
}

.card .form-group input:focus ~ .bar:before, .card .form-group input:focus ~ .bar:after {
  	width: 50%;
}

.card .form-group input:valid ~ label {
	color: #9d9d9d;
	-webkit-transform: translate(-12%, -50%) scale(0.75);
			transform: translate(-12%, -50%) scale(0.75);
}

.card .form-group label {
	position: absolute;
	top: 0;
	left: 0;
	color: #757575;
	font-size: 24px;
	font-weight: 300;
	line-height: 60px;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

.card .form-group .bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #757575;
	width: 100%;
	height: 1px;
}

.card .form-group .bar:before, .card .form-group .bar:after {
	content: '';
	position: absolute;
	background: #7F00B2;
	width: 0;
	height: 2px;
	-webkit-transition: .2s ease;
	transition: .2s ease;
}

.card .form-group .bar:before {
  	left: 50%;
}
.card .form-group .bar:after {
  	right: 50%;
}

/* CSS BUTTON */

.card .submit-button {
	margin: 0 60px;
	text-align: center;
}
.card .submit-button button {
	outline: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;
	background: 0;
	width: 240px;
	border: 2px solid #e3e3e3;
	padding: 20px 0;
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.card .submit-button button span {
	position: relative;
	z-index: 1;
	color: #ddd;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.card .submit-button button:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: #7F00B2;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: -15px 0 0 -15px;
	opacity: 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.card .submit-button button:hover, .card .submit-button button:active, .card .submit-button button:focus {
  	border-color: #7F00B2;
}
.card .submit-button button:hover span, .card .submit-button button:active span, .card .submit-button button:focus span {
  	color: #7F00B2;
}
.card .submit-button button:active span, .card .submit-button button:focus span {
  	color: #ffffff;
}
.card .submit-button button:active:before, .card .submit-button button:focus:before {
	opacity: 1;
	-webkit-transform: scale(10);
	transform: scale(10);
}

.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: "";
  position: absolute;
  background: #7F00B2;
  width: 0;
  height: 2px;
  transition: 0.2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  transition: 0.3s ease;
}
.card .button-container button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #7F00B2;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  transition: 0.3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #7F00B2;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #7F00B2;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
}
.card .footer a:hover {
  color: #bababa;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}