<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>backend.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaPregunta</servlet-name>
        <servlet-class>backend.NuevaPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPregunta</servlet-name>
        <servlet-class>backend.EliminarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaPreguntaModificada</servlet-name>
        <servlet-class>backend.GuardaPreguntaModificada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaPorId</servlet-name>
        <servlet-class>backend.PreguntaPorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>backend.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaPregunta</servlet-name>
        <url-pattern>/NuevaPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPregunta</servlet-name>
        <url-pattern>/EliminarPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaPreguntaModificada</servlet-name>
        <url-pattern>/GuardaPreguntaModificada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaPorId</servlet-name>
        <url-pattern>/PreguntaPorId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
